<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd        
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<context:component-scan base-package="org.webwork.*"/>
	<http auto-config="true" use-expressions="true">

		<intercept-url pattern="/content**" access="hasRole('ROLE_USER')" />
		
		<access-denied-handler error-page="/main" />
		
		<form-login
			login-processing-url="/j_spring_security_check"
		    login-page="/login"
		    default-target-url="/content"
			authentication-failure-url="/login?error"
			username-parameter="username"
			password-parameter="password" />
		<logout
			logout-url="/j_spring_security_logout" 
			logout-success-url="/" />
		<csrf />
	</http>
	
	<beans:bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<beans:property name="userDetailsService" ref="userDetailService"></beans:property>
	</beans:bean>

	<beans:bean id="authenticationManager" class="org.springframework.security.authentication.ProviderManager">
		<beans:constructor-arg name="providers">
				<beans:list>
					<beans:ref bean="daoAuthenticationProvider"/>
				</beans:list>
		</beans:constructor-arg>
	</beans:bean>

	<authentication-manager>
	  <authentication-provider user-service-ref="userDetailService">
	  	<password-encoder hash="bcrypt"></password-encoder>
	  </authentication-provider>
	</authentication-manager>
	<!-- <mvc:annotation-driven />  --> 
</beans:beans>